# editor files
.zed/*
.vscode/*
.idea/*
.cursor/*
.helix/*

# Keep settings file for to configure zed formatter
!.zed/settings.json

# astro outputs
.astro/
dist/

# package manager files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production
